* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#logo {
  width: 9rem;
  height: 2.4rem;
}
.menu-navegacao {
  background-color: #ffff;

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
